<html!>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Transa Upsum</title>
        <!-- <link rel="stylesheet" type="text/css" href="https://github.com/transainc/sonata/blob/master/docs/css/sonata.min.css"> -->
        <link rel="stylesheet" type="text/css" href="https://github.com/transainc/sonata/blob/master/docs/css/sonata-development.min.css">
    </head>
    <style>
        body {
            font-size: 16px;
        }

        ._con code {
            position: absolute;
            font-size: .75em;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
        }
    </style>
    <body>
        <article class="debug">
            <h1>Transa - Upsum</h1>
            <section class="label _2x4" data-flavour="2Rows / 4Col">
                <div class="_x1 _y1 +2x +1y">

                </div>
            </section>
        </article>

        <script rel="preload" type="text/javascript" src="fitie@object-fit-polifill.min.js"></script>
    </body>
</html>