$debug: false;

@import 'variables', 'mixins', 'reset', 'common';


$grid-size-y: 2;
$grid-size-x: 4;

@import '_sizes';

$grid-size-y: 4;
$grid-size-x: 8;

@import '_sizes';

$grid-size-y: 6;
$grid-size-x: 12;

@import '_sizes';

$grid-size-y: 8;
$grid-size-x: 16;

@import '_sizes';

$grid-size-y: 10;
$grid-size-x: 20;

@import '_sizes';

$grid-size-y: 12;
$grid-size-x: 24;

@import '_sizes';
